# dependencies
/src/frontend/node_modules/
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python virtual environment
/venv/
/src/backend/venv/

# Temporary files
*.pdf
*.xml
/temp/

# pycache
__pycache__/

