:root {
	--primary: #00a7bd;
	--primary-dark: #006a78;
	--background: hsl(0, 0%, 100%);
	--ks-purple: #9063cd;
	--ks-light-purple: #e8dafdbd;
	--ks-light-green: #e2ffabb8;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: "Arial Black", Arial, sans-serif;
	background-color: var(--background);
	color: #333;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 100vh;
}

h1 {
	color: var(--ks-purple);
	font-size: 4rem;
	font-weight: 900;
}

h2 {
	font-size: 1.4rem;
}

h2,
h3,
h4,
h5,
h6 {
	color: #444;
}

p {
	text-align: left;
	font-size: 1.2rem;
}

a {
	color: var(--primary-dark);
}

a:hover {
	color: black;
}

ul {
	margin: 0;
	padding: 0;
}

button {
	background-color: var(--primary);
	color: white;
	border: none;
	padding: 0.5rem 0.9rem;
	cursor: pointer;
	border-radius: 5px;
	margin: 0.4rem;
	font-size: 1.2rem;
}

button:hover {
	background-color: var(--primary-dark);
}

input[type="text"] {
	padding: 0.55rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	margin-bottom: 2.1rem;
	margin-top: 1.9rem;
	font-size: 1rem;
}

/* containers */

.header-container {
	width: 100vw;
	position: relative;
}

.center-container {
	margin-top: 8rem;
	margin-bottom: 8rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	padding-left: 5rem;
	padding-right: 5rem;
}

.project-container {
	max-width: 100rem;
	margin: 0 auto;
}

.search-container {
	margin: 2rem;
}

/* images */

.logo {
	height: 9rem;
	margin-right: 1rem;
}

.group-image {
	width: 50rem;
}

.dropdown-arrow {
	max-width: 1rem;
	margin-left: 3px;
}

/* positioning */

.header-row {
	padding: 0;
	display: flex;
	position:absolute;
	align-items: flex-end;
	top: 1rem;
	left: 2rem;
}

.content-row {
	display: flex;
}

.button-row {
	position:absolute;
	top: 1rem;
	right:2rem;
	display: flex;
}

.pagination {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}

/* buttons */

.link-button {
	margin: 0;
	padding: 0.6rem;
	background: none;
	color: var(--primary);
	text-decoration: underline;
	font-size: 1.2rem;
}

.link-button:hover {
	background: none;
	color: #002d68;
}

.search-label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 1.2rem;
}

.continue-button {
	position: fixed;
	bottom: 2rem;
	right: 16px;
	border: none;
	box-shadow: 1px 1px 7px #ccc;
}

.back-button {
	position: fixed;
	bottom: 2rem;
	left: 2rem;
	border: none;
	box-shadow: 1px 1px 7px #ccc;
}

.x-button {
	position: absolute;
	top: 0.1rem;
	right: 0.1rem;
}

.reset-search-button {
	background: none;
	border: none;
	cursor: pointer;
	color: var(--primary)
}

.reset-search-button:hover {
	text-decoration: underline;
	background: none;
	border: none;
	cursor: pointer;
	color: var(--primary)
}

.pagination-button {
	margin: 0 5px;
	border: 1px solid var(--primary);
	padding: 5px 1rem;
	cursor: pointer;
}

.pagination-button.active {
	background-color: var(--background);
	color: var(--primary)
}


/* custom headers */

.header-row h1 {
	margin-top: 0;
}


/* custom text elements */

.document-category-name-p {
	cursor: pointer;
}

.document-category-name-p:hover {
	cursor: pointer;
	text-decoration: underline;
}

.document-category-name-p-grey {
	cursor: pointer;
	color: grey;
}

.document-category-name-p-grey:hover {
	text-decoration: none;
	cursor: default;
}

.code-notification p {
	margin-top: 1rem;
	margin-bottom: 0.3rem;
	font-size: 1.2rem;
}

.page-instructions p {
	margin: 0.5rem 0rem;
}

.code-notification strong {
	margin-top: 1rem;
	color: var(--primary-dark);
	font-size: 1.3rem;
}


/* custom links */

.document-a {
	margin-top: 1rem;
	color: var(--primary);
	text-decoration: none;
	font-size: 1.2rem;
}

.document-a:hover,
.document-a:focus {
	color: var(--primary-dark);
	text-decoration: underline;
}


/* other items */


.search-label {
	font-size: 1.4rem;
}

.project-item {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 1.4rem;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	text-align: left;
	width: 80vw;
	max-width: 50rem;
}

.code-notification {
	padding: 2rem 2rem;
	margin: 4rem;
	width: 80vw;
	max-width: 50rem;
	background-color: var(--ks-light-green);
	text-align: left;
}

.submission {
	margin-top: 0.5rem;
}

.instructions {
	position:relative;
	width: 90vw;
	max-width: 50rem;
	margin-top: 10rem;
	background-color: var(--ks-light-green);
	padding: 1rem;
}

.join-form {
	margin-top: 6rem;
}

.create-form {
	margin-top: 4rem;
}

.home-instructions {
	margin: 2rem;
	padding: 1.6rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-top: 5rem;
	width: 80vw;
	max-width: 50rem;
	background-color: var(--ks-light-purple);
}

.page-instructions {
	display: flex;
	flex-direction: column;
	max-width: 50rem;
	margin-bottom: 3rem;
	background-color: var(--ks-light-purple);
	padding: 1.6rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

@media (max-width: 599px) {

	/* typography */
	h1 {
		font-size: 2.6rem;
	}

	p {
		font-size: 1rem;
	}

	button {
		font-size: 1rem;
		padding: 0.45rem 0.8rem;
	}

	/* layout containers */
	.center-container {
		margin-top: 0rem;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.project-item,
	.code-notification,
	.home-instructions,
	.page-instructions {
		width: 92vw;
		margin: 1rem auto;
		padding: 1rem;
	}

	.instructions {
		margin-top: 6rem;
		width: 92vw;
	}

	/* header + buttons */
	.header-row {
		display: flex;
		position: static;
		justify-content: center;
	}

	.button-row {
		display: flex;
		position: static;
		justify-content: right;
	}

	/* images */
	.logo {
		height: 5.5rem;
	}

	.group-image {
		width: 100%;
		max-width: 100%;
	}

	/* pagination */
	.pagination {
		flex-wrap: wrap;
		gap: 0.5rem;
	}

	/* other items */
	.join-form {
		margin-top: 2rem;
	}

	.create-form {
		margin-top: 2rem;
	}
}

@media (min-width: 600px) and (max-width: 767px) {

	h1 {
		font-size: 3rem;
	}

	.center-container {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.project-item,
	.code-notification,
	.home-instructions,
	.page-instructions {
		width: 85vw;
	}

	.logo {
		height: 7rem;
	}

	.group-image {
		width: 80%;
	}

}


