/* Yleiset tyylit koko sovellukselle */
:root {
	/* colors */
	/*--primary: hsl(202, 67%, 36%);*/
	--primary: #00a7bd;
	--primary-dark: hsl(202, 67%, 28%);
	--grayish: hsl(202, 20%, 40%);
	--hilight: hsl(162, 56%, 85%);
	--hilight-border: hsl(162, 15%, 75%);
	--divider: hsl(202, 15%, 82%);
	--background: hsl(0, 0%, 100%);
	--ks-purple: #9063cd;
	--ks-green: #adcb00;
	--ks-pink: #f8485e;
	--ks-blue: #78c8d2;

}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: "Arial Black", Arial, sans-serif;
	background-color: var(--background);
	color: #333;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 100vh;
}

.logo {
	height: 9rem;
	margin-right: 1rem;
}

.header-container {
	width: 100vw;
	position: relative;
}

.header-row {
	padding: 0;
	display: flex;
	position:absolute;
	align-items: flex-end;
	top: 1rem;
	left: 2rem;
}

.header-row h1 {
	margin-top: 0;
}

.center-container {
	margin-top: 12rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}

.project-container {
	max-width: 100rem;
	margin: 0 auto;
}

.content-row {
	display: flex;
}

h1 {
	color: var(--ks-purple);
	font-size: 4rem;
	font-weight: 900;
}

h2,
h3,
h4,
h5,
h6 {
	color: #444;
}

a {
	color: var(--primary);
	text-decoration: none;
}

a:hover,
a:focus {
	color: var(--primary-dark);
	text-decoration: underline;
}

ul {
	margin: 0;
	padding: 0;
}

button {
	background-color: var(--primary);
	color: white;
	border: none;
	padding: 0.6rem 1rem;
	cursor: pointer;
	border-radius: 5px;
	margin: 0.4rem;
}

button:hover {
	background-color: var(--primary-dark);
}

.search-label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

input[type="text"] {
	padding: 1rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	margin-bottom: 2rem;
	margin-top: 2rem;
}

.back-button {
	position: fixed;
	top: 12rem;
	left: 2rem;
}

.button-row {
	position:absolute;
	top: 2rem;
	right:2rem;
	display: flex;
}

.language-button {
	margin: 0;
	padding: 0.6rem;
	background: none;
	color: var(--primary);
	text-decoration: underline;
	font-size: 1rem;
}

.language-button:hover {
	background: none;
	color: #002d68;
}

.continue-button {
	position: fixed;
	bottom: 2rem;
	right: 16px;
}

.he-identifier-button {
	background: none;
	border: none;
	color: var(--primary);
	font: inherit;
	font-weight: bold;
	cursor: pointer;
	padding: 0;
	margin: 0;
	text-align: left;
}

.he-identifier-button:hover {
	background-color: transparent;
	text-decoration: underline;
}

.proposal-content {
	margin-top: 3rem;
}

.download-a {
	margin-top: 1rem;
}

.project-item {
	border: 1px solid #ccc;
	padding: 2rem;
	margin-left: 5rem;
	margin-right: 5rem;
	text-align: left;
}

.pagination {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}

.page-item {
	margin: 0 5px;
	border: 1px solid var(--primary-dark);
	padding: 5px 1rem;
	cursor: pointer;
}

.page-item.active {
	background-color: var(--background);
	color: var(--primary)
}

.dropdown-arrow {
	max-width: 1rem;
	margin-left: 3px;
}

.document-info-name {
	cursor: pointer;
}

.document-info-name:hover {
	cursor: pointer;
	text-decoration: underline;
}

.document-info-name-grey {
	cursor: pointer;
	color: grey;
}

.document-info-name-grey:hover {
	text-decoration: none;
	cursor: default;
}

.preparatory-documents {
	text-align: left;
}

.code-notification {
	padding: 1rem;
	margin: 5rem 3rem;
}

.code-notification p {
	margin-top: 1rem;
}

.code-notification strong {
	margin-top: 1rem;
	color: var(--primary)
}

.reset-search-button {
	background: none;
	border: none;
	cursor: pointer;
	color: var(--primary)
}

.reset-search-button:hover {
	text-decoration: underline;
	background: none;
	border: none;
	cursor: pointer;
	color: var(--primary)
}

.summary-selected-documents-h3 {
	margin: 3rem;
}

.submission {
	margin-top: 0.5rem;
}

.group-image {
	width: 50rem;
}

.x-button {
	position: absolute;
	top: 0.1rem;
	right: 0.1rem;
}

.instructions {
	position:relative;
	width: 90vw;
	margin-top: 10rem;
	border: 1px solid #ccc;
}

