:root {
	--primary: #00a7bd;
	--primary-dark: #006a78;
	--background: hsl(0, 0%, 100%);
	--ks-purple: #9063cd;
	--ks-light-purple: #e8dafdbd;
	--ks-green: #adcb00;
	--ks-pink: #f8485e;
	--ks-blue: #78c8d2;
	--ks-light-green: #e2ffabb8;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: "Arial Black", Arial, sans-serif;
	background-color: var(--background);
	color: #333;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 100vh;
}

.logo {
	height: 9rem;
	margin-right: 1rem;
}

.header-container {
	width: 100vw;
	position: relative;
}

.header-row {
	padding: 0;
	display: flex;
	position:absolute;
	align-items: flex-end;
	top: 1rem;
	left: 2rem;
}

.header-row h1 {
	margin-top: 0;
}

.center-container {
	margin-top: 8rem;
	margin-bottom: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	padding-left: 5rem;
	padding-right: 5rem;
}

.project-container {
	max-width: 100rem;
	margin: 0 auto;
}

.content-row {
	display: flex;
}

h1 {
	color: var(--ks-purple);
	font-size: 4rem;
	font-weight: 900;
}

h2 {
	font-size: 1.4rem;
}

h2,
h3,
h4,
h5,
h6 {
	color: #444;
}

a {
	color: var(--primary);
	text-decoration: none;
	font-size: 1.2rem;
}

a:hover,
a:focus {
	color: var(--primary-dark);
	text-decoration: underline;
}

ul {
	margin: 0;
	padding: 0;
}

button {
	background-color: var(--primary);
	color: white;
	border: none;
	padding: 0.5rem 0.9rem;
	cursor: pointer;
	border-radius: 5px;
	margin: 0.4rem;
	font-size: 1.2rem;
}

button:hover {
	background-color: var(--primary-dark);
}

.search-label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 1.2rem;
}

input[type="text"] {
	padding: 0.55rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	margin-bottom: 2.1rem;
	margin-top: 1.9rem;
	font-size: 1rem;
}

.button-row {
	position:absolute;
	top: 1rem;
	right:2rem;
	display: flex;
}

.link-button {
	margin: 0;
	padding: 0.6rem;
	background: none;
	color: var(--primary);
	text-decoration: underline;
	font-size: 1.2rem;
}

.link-button:hover {
	background: none;
	color: #002d68;
}

.link {
	color: var(--primary-dark);
}

.link:hover {
	color: black;
}

.continue-button {
	position: fixed;
	bottom: 2rem;
	right: 16px;
	border: none;
	box-shadow: 1px 1px 7px #ccc;
}

.back-button {
	position: fixed;
	bottom: 2rem;
	left: 2rem;
	border: none;
	box-shadow: 1px 1px 7px #ccc;
}

.search-label {
	font-size: 1.4rem;
}

.he-identifier-button {
	background: none;
	border: none;
	color: var(--primary);
	font: inherit;
	font-weight: bold;
	cursor: pointer;
	padding: 0;
	margin: 0;
	text-align: left;
}

.he-identifier-button:hover {
	background-color: transparent;
	text-decoration: underline;
}

.proposal-content {
	margin-top: 3rem;
}

.download-a {
	margin-top: 1rem;
}

.project-item {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 1.4rem;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	text-align: left;
	width: 80vw;
	max-width: 50rem;
}

.pagination {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}

.page-item {
	margin: 0 5px;
	border: 1px solid var(--primary);
	padding: 5px 1rem;
	cursor: pointer;
}

.page-item.active {
	background-color: var(--background);
	color: var(--primary)
}

.dropdown-arrow {
	max-width: 1rem;
	margin-left: 3px;
}

.document-info-name {
	cursor: pointer;
}

.document-info-name:hover {
	cursor: pointer;
	text-decoration: underline;
}

.document-info-name-grey {
	cursor: pointer;
	color: grey;
}

.document-info-name-grey:hover {
	text-decoration: none;
	cursor: default;
}

.preparatory-documents {
	text-align: left;
}

.code-notification {
	padding: 2rem 2rem;
	margin: 4rem;
	width: 80vw;
	max-width: 50rem;
	background-color: var(--ks-light-green);
	text-align: left;
}

.code-notification p {
	margin-top: 1rem;
	margin-bottom: 0.3rem;
	font-size: 1.2rem;
}

.code-notification strong {
	margin-top: 1rem;
	color: var(--primary-dark);
	font-size: 1.3rem;
}

.reset-search-button {
	background: none;
	border: none;
	cursor: pointer;
	color: var(--primary)
}

.reset-search-button:hover {
	text-decoration: underline;
	background: none;
	border: none;
	cursor: pointer;
	color: var(--primary)
}

.submission {
	margin-top: 0.5rem;
}

.group-image {
	width: 50rem;
}

.x-button {
	position: absolute;
	top: 0.1rem;
	right: 0.1rem;
}

.instructions {
	position:relative;
	width: 90vw;
	max-width: 50rem;
	margin-top: 10rem;
	background-color: var(--ks-light-green);
	padding: 1rem;
}



.join-form {
	margin-top: 6rem;
}

.create-form {
	margin-top: 4rem;
}

.home-instructions {
	margin: 2rem;
	padding: 1.6rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-top: 5rem;
	width: 80vw;
	max-width: 50rem;
	background-color: var(--ks-light-purple);
}

.page-instructions {
	display: flex;
	flex-direction: column;
	max-width: 50rem;
	margin-bottom: 3rem;
	background-color: var(--ks-light-purple);
	padding: 1.6rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.page-instructions p {
	margin: 0.5rem 0rem;
}

.search-container {
	margin: 2rem;
}

p {
	text-align: left;
	font-size: 1.2rem;
}

